<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @observation.name %>
</p>

<p>
  <strong>Dataset:</strong>
  <%= @observation.dataset_id %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
