<!DOCTYPE html>
<html>
  <head>
    <title>Autonotate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-300 w-screen h-screen flex flex-col">
  <div class="shadow-lg h-13">
   <div class="items-center container mx-auto">
     <nav class=" text-center flex justify-around">
        <p class="text-black font-black tracking-tighter text-4xl inline-block"> ANOTAI </p>
        <% if user_signed_in? %>
          <div class="flex align-middle">
            <%= link_to "Seus projetos", datasets_url, class:"text-black inline-block mt-1 mb-2 py-2 px-4 border-blue-200 border-l-2 border-r-2 rounded-l hover:shadow-sm hover:bg-blue-300"%>
            <a href="#" class="text-black inline-block mt-1 mb-2 py-2 px-4 border-blue-200 border-r-2 hover:shadow-sm hover:bg-blue-300"> Explorar projetos </a>
            <a href="#" class="text-black inline-block mt-1 mb-2 py-2 px-4 border-blue-200 border-r-2 rounded-r hover:shadow-sm hover:bg-blue-300"> Seu perfil </a>
          </div>
          <div class="flex align-middle">
          <%= link_to "Sair", destroy_user_session_path, method: :delete, class:"text-black inline-block mt-1 mb-2 px-4 py-2 border-blue-400 rounded border-2 hover:shadow-sm hover:bg-blue-300" %>
          </div>
        <% else %>
          <div class="flex align-middle">
          <%= link_to "Entrar", new_user_session_url, class:"text-black inline-block mt-1 mb-2 px-4 py-2 border-blue-400 rounded border-2 hover:shadow-sm hover:bg-blue-300" %>
          </div>
        <% end %> 
      </nav>
    </div>
   </div>
   <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %> 
   <div class="items-stretch m-auto">
     <div class="">