<p id="notice"><%= notice %></p>
<div class="p-4">
  <div class="flex w-full justify-around">
    <%= link_to "Enviar CSV", pages_home_url, class:"inline-block bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to "Deletar Base", pages_home_url, class:"inline-block bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to "Adicionar Entrada", pages_home_url, class:"inline-block bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="self-stretch overflow-y-auto overflow-x-hidden" style="max-height:250px">
  <table class="table-fixed w-full">
    <thead>
      <tr>
        <th class="px-4 py-2 w-3/4">Exemplo</th>
        <th class="px-4 py-2 w-1/4" colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td class="h-10 m-2 border-gray-800 border-2 overflow-hidden"><%= entry.text %></td>
          <td class="border-gray-800 border-2 m-2"><%= link_to 'Show', entry %></td>
          <td class="border-gray-800 border-2 m-2"><%= link_to 'Edit', edit_entry_path(entry) %></td>
          <td class="border-gray-800 border-2 m-2"><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>