<%= form_with(model: dataset, local: true) do |form| %>
  <% if dataset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>

      <ul>
        <% dataset.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4 ">
    <%= form.label :name, class:"block text-gray-700 text-xl font-bold mb-2" %>
    <%= form.text_field :name, class:"text-base shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"%>
  </div>

  <div class="mb-4">
    <%= form.label :description, class:"block text-gray-700 text-xl font-bold mb-2"  %>
    <%= form.text_field :description, class:"text-base shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="actions">
    <%= form.submit "enviar", class:"bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline shadow-inner"%>
  </div>
<% end %>
