<p id="notice"><%= notice %></p>

<h1>Ml Orders</h1>

<table>
  <thead>
    <tr>
      <th>Entry</th>
      <th>Observation</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ml_orders.each do |ml_order| %>
      <tr>
        <td><%= ml_order.entry_id %></td>
        <td><%= ml_order.observation_id %></td>
        <td><%= ml_order.order %></td>
        <td><%= link_to 'Show', ml_order %></td>
        <td><%= link_to 'Edit', edit_ml_order_path(ml_order) %></td>
        <td><%= link_to 'Destroy', ml_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ml Order', new_ml_order_path %>
