<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @ml_order.entry_id %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @ml_order.observation_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @ml_order.order %>
</p>

<%= link_to 'Edit', edit_ml_order_path(@ml_order) %> |
<%= link_to 'Back', ml_orders_path %>
