<%= form_with(model: notation, local: true) do |form| %>
  <% if notation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notation.errors.count, "error") %> prohibited this notation from being saved:</h2>

      <ul>
        <% notation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :attr_value_id %>
    <%= form.text_field :attr_value_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :entry_id %>
    <%= form.text_field :entry_id %>
  </div>

  <div class="field">
    <%= form.label :attribute_id %>
    <%= form.text_field :attribute_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
