<table>
  <thead>
    <tr>
      <th>Attr value</th>
      <th>User</th>
      <th>Entry</th>
      <th>Attribute</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notations.each do |notation| %>
      <tr>
        <td><%= notation.attr_value_id %></td>
        <td><%= notation.user_id %></td>
        <td><%= notation.entry_id %></td>
        <td><%= notation.observation_id %></td>
        <td><%= link_to 'Show', notation %></td>
        <td><%= link_to 'Edit', edit_notation_path(notation) %></td>
        <td><%= link_to 'Destroy', notation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>