<p id="notice"><%= notice %></p>

<p>
  <strong>Attr value:</strong>
  <%= @notation.attr_value_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @notation.user_id %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @notation.entry_id %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @notation.observation_id %>
</p>

<%= link_to 'Edit', edit_notation_path(@notation) %> |
<%= link_to 'Back', notations_path %>
