<!DOCTYPE html>
<html>
  <head>
    <title>Autonotate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav>
        <% [["Home", '/'], ["Datasets", :datasets], ["Entries", :entries], ["Roles", :roles], ['Attributes', :observations], ['PossibleValues', :attr_values], ['notations', :notations]].each do |name,url| %>
          <li><%= link_to_unless_current(name, url) %></li>
        <% end %>
      </nav>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
