<!DOCTYPE html>
<html>
  <head>
    <title>Autonotate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-blue-500">
   <div class="bg-black shadow-lg h-12 flex">
      <div class="text-gray-300 bold px-20 font-sans text-4xl">
        <p> AutoNotate Tool </p>
      </div>
   </div>
   <div class="">
   </div>
   <div class="w-screen h-screen flex">
     <div class="m-auto">
    <%= yield %>
    <div>
   </div>
  </body>
</html>
